In [1]:
import csv as C
import numpy as N
import pandas as P
import matplotlib as M
import scipy as S
import os
from scipy import stats
from scipy.stats import ttest_ind, ttest_rel
from scipy.stats import shapiro
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kruskal
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency

import statsmodels
from statsmodels.stats import multitest

In [2]:
df = P.read_csv('habits.data',
               sep=';',
               na_values='?')

In [3]:
df = df.dropna() # Drop all observation containing NaN

In [4]:
# Drop non-paired observations

counts = df['kohde'].value_counts()

twice = counts[counts == 2].index

df2 = df[df['kohde'].isin(twice)]

6930

# A1, A2, A3, A4 to correct format: hh:mm --> minutes

In [5]:
v = ['A1', 'A2', 'A3', 'A4']

for col in v:


    for i, cell in df2[col].copy().items():
        new = 0
        
        if isinstance(cell, str) and ':' in cell:
            
            a, b = cell.split(':')
            
            new = int(a)*60 + int(b)
            
        else:
            continue
    
        df2.loc[i, col] = str(new)

    print(col, 'corrected')

A1 corrected
A2 corrected
A3 corrected
A4 corrected

# IKAL to groups

IKAL1 - age group

1 = 10-14 years old

2 = 15-19 years old

3 = 20-24 years old

4 = 25-34 years old

5 = 35-44 years old

6 = 45-54 years old

7 = 55-64 years old

8 = 65-74 years old

9 = 75- years old

In [46]:
bins = [0, 14, 19, 24, 34, 44, 54, 64, 74, 200]
labels = [1, 2, 3, 4, 5, 6, 7, 8, 9]

df2['IKAL1_group'] = P.cut(df2['IKAL1'], bins=bins, labels=labels, right=True, include_lowest=True)
df2['IKAL1_group'] = df2['IKAL1_group'].astype('Int64')

/var/folders/zn/g1hs_00s7mz6p56n_db9qwc80000gn/T/ipykernel_54536/1399606329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['IKAL1_group'] = P.cut(df2['IKAL1'], bins=bins, labels=labels, right=True, include_lowest=True)
/var/folders/zn/g1hs_00s7mz6p56n_db9qwc80000gn/T/ipykernel_54536/1399606329.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['IKAL1_group'] = df2['IKAL1_group'].astype('Int64')

In [47]:
df2['IKAL1_group'].value_counts()

IKAL1_group
7    156
6    150
4     96
5     94
8     74
9     40
3     20
Name: count, dtype: Int64

# A5 cleanup

In [48]:
# 1 = yes
# 2 = no

for i, cell in df2['A5'].copy().items():
        
        if cell == float(0.0):
            df2.loc[i, 'A5'] = float(2.0)

        elif cell != 1.0 and cell != 2.0:
            df2.loc[i, 'A5'] = float(1.0)
            
        else:
            continue

In [49]:
df2['A5'].value_counts()

A5
1.0    431
2.0    199
Name: count, dtype: int64

In [50]:
# write cleaned copy to csv
df2.to_csv('habits-cleaned.csv')